.links__section, .tables_container{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    padding: var(--spacing_y_sm) 0px;
}

.footer table{
    width: 50%;
    text-decoration: none;
}

.footer table td,.footer table th {
    text-align: start;
    vertical-align: middle;
    padding-bottom: 14px;
    padding-right: 14px;
    width: 50%;
}

.footer table td:last-child{
    padding-bottom: 20px;
}

.footer table th{
    padding-bottom: 20px;
}

.footer a{
    text-decoration: none;
    color: var(--txtClrBlur, #4B5563);
}

.footer_copyright{
    margin-bottom: 0px;
    padding: var(--spacing_y_sm) 0px;
}

.footer_copyright > div{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.social_link{
    display: flex;
    gap: 10px;
}

.social_link a{
    display: flex;
    align-items: center;
}