.header__navbar {
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: var(--bgHeader);
  /* width: var(--widthContent);
  margin: auto; */
  padding: var(--spacing_y_sm) 5%;
  border-bottom: 1px solid var(--borderClrBlur);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navbar_logo {
  flex: 1;
}

.header__navbar_logo > img {
  height: 100%;
}

.header__navbar_menu {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: var(--spacing_y_sm);
}

.navbar__menu_options {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: var(--spacing_x);
}

.navbar__menu_options li a {
  text-decoration: none;
  color: var(--txtClrSecondary);
}

.navbar_menu_pill {
  background-color: var(--bgPrimary);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
  border-radius: var(--borderRadii);
  /* box-shadow: 0px -1px 0px 0px #F3F4F6 inset; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
}

.navbar_menu_pill > button {
  padding: 3px 5px;
  margin: 0px 5px;
  background-color: transparent;
  border: none;
}

.header_vericleLine {
  background-color: var(--txtPassive);
  height: 24px;
  padding: 1px;
}

.navbar__pill_searchBtn {
  padding: 3px 5px !important;
  margin: 0px 0px;
  background-color: var(--bgDanger) !important;
  border: none;
  border-radius: var(--borderCircle);
}

.header__navbar_userInfo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing_x);
}

.navbar__login {
  background-color: var(--bgPrimary);
  display: flex;
  align-items: center;
  padding: 3px 5px;
  border-radius: var(--borderRadii);
  border: 1px solid var(--borderClrBlur, #E5E7EB);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
  box-shadow: 0px -1px 0px 0px #F3F4F6 inset;
}

.navbar__login img:first-child {
  width: 20px;
  margin: 0px 3px;
}
.navbar__login img:last-child {
  width: 28px;
  margin: 0px 3px;
}

.header__navbar_row2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--bgPrimary);
  color: var(--txtClrPrimary);
  width: fit-content;
  margin: var(--spacing_y_sm) auto;
  margin-top: 0px;
  border-radius: var(--borderRadii);
  padding-right: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  /* box-shadow: 0px -1px 0px 0px #F3F4F6 inset; */
}

.header__navbar_row2 div {
  padding: 5px 20px;
  border-radius: var(--borderRadii);
  border: 1px solid transparent;
}

.header__navbar_row2 div:hover {
  background-color: var(--bgBtnHover);
  cursor: pointer;
}

.header__navbar_row2 > div label {
  font-size: var(--fs_xsm);
  font-weight: 600;
  line-height: 16px;
}
.header__navbar_row2 > div input {
  width: auto;
  background: transparent;
  border: none;
}

#location {
  max-width: 140px;
}

#checkIn,
#checkOut,
#guests {
  max-width: 80px;
}

.navbar__row2_searchBtn {
  margin-left: 5px;
  padding: 3px 5px !important;
  background-color: var(--bgDanger) !important;
  border: none;
  border-radius: var(--borderCircle);
}
.navbar__row2_searchBtn img {
  width: 30px;
}

.heroImage__section {
  max-width: var(--widthContent);
  height: 50vw;
  margin: auto;
  padding: var(--spacing_y_md) 0px;
  position: relative;
}
.heroImage__section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
}

.hero__title {
  position: absolute;
  bottom: 30px;
  width: fit-content;
  left: 0;
  right: 0;
  bottom: 15%;
  margin: auto;
}
.hero__title > h1 {
  font-size: var(--fs_xlg);
  font-style: normal;
  font-weight: 500;
  text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.54);
  margin-bottom: var(--spacing_y_sm);
}

.hero__title > button {
  margin-top: var(--spacing_y_sm);
  padding: var(--buttonSpacing_y) var(--buttonSpacing_x);
  border-radius: var(--borderRadii);
  border: none;
}

.hero__title > button > span {
  font-size: var(--fs_sm);
}

.hero__title > button > span:hover {
  background: linear-gradient(to right, #671296, #9e1f83);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.dispFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hide {
  display: none;
}
