@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  /* background-color: rgba(0, 0, 100, 0.2); */
  /* outline: 1px solid red; */
}

:root {
  --bgHeader: #000;
  --bgPrimary: #fff;
  --bgDanger: #de3151;
  --bgTest: rgba(0, 256, 0, 0.2);
  --bgBtnHover: #ebebeb;
  --bgFooter: #F9FAFB;

  --txtClrPrimary: #000;
  --txtPassive: #dddddd;
  --txtClrBlur: #6B7280;
  --txtClrSecondary: #fff;

  --cardPrimary: #cc2d4a;
  --cardSecondary: #bc1a6e;
  --cardHeight: 400px;
  --cardWidth: calc(0.75 * var(--cardHeight));

  --experiencesCardWidth: 100%;
  --experiencesCardHeight: calc(0.8*var(--experiencesCardWidth));
  --fs_xlg: 3.2vmax;
  --fs_lg: 32px;
  --fs_xsm: 13px;
  --fs_sm: 16px;

  --widthContent: 90%;
  --spacing_x: 20px;
  --spacing_y_sm: 12px;
  --spacing_y_md: 35px;

  --borderCircle: 50%;
  --borderRadii: 35px;
  --borderRadiiBtn: 10px;

  --cardGaps: 25px;

  --buttonSpacing_x: 24px;
  --buttonSpacing_y: 16px;
}

.header {
  background-color: var(--bgHeader);
  color: var(--txtClrSecondary);
  font-size: var(--fs_sm);
  padding-bottom: 30px;
  padding-top: var(--spacing_y_sm);
}

.header__navbar{
  background-color: var(--bgHeader);
  color: var(--txtClrSecondary);
  font-size: var(--fs_sm);
}



.page__section {
  width: var(--widthContent);
  margin: var(--spacing_y_md) auto;
}

.page__section > h1 {
  margin-bottom: var(--spacing_y_sm);
  font-size: var(--fs_lg);
  font-weight: 500;
}

.slider {
  overflow-x: scroll !important;
  overflow: hidden;
}

.slider::-webkit-scrollbar {
  display: none;
}

.footer{
  background-color: var(--bgFooter, #F9FAFB);
  padding-top: var(--spacing_y_md);
}

hr{
  border: 1px solid #E5E7EB;
  margin-bottom: var(--spacing_y_sm);
}

.footer_copyright > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}