@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --bgHeader: #000;
  --bgPrimary: #fff;
  --bgDanger: #de3151;
  --bgTest: rgba(0, 256, 0, 0.2);
  --bgBtnHover: #ebebeb;

  --txtClrPrimary: #000;
  --txtPassive: #dddddd;
  --txtClrSecondary: #fff;

  --cardPrimary: #CC2D4A;
  --cardSecondary: #BC1A6E;

  --fs_xlg: 3.2vw;
  --fs_lg: 32px;
  --fs_xsm: 12px;
  --fs_sm: 16px;

  --widthContent: 90%;
  --spacing_x: 20px;
  --spacing_y_sm: 10px;
  --spacing_y_md: 25px;

  --borderCircle: 50%;
  --borderRadii: 35px;
}

.header {
  background-color: var(--bgHeader);
  color: var(--txtClrSecondary);
  font-size: var(--fs_sm);
  padding-bottom: 30px;
}

.hide {
  display: none;
}

#h-sliderSection {
  width: var(--widthContent);
  margin: var(--spacing_y_md) auto;
  color: var(--txtClrPrimary);
}

#h-sliderSection > h1 {
  font-size: var(--fs_lg);
  font-weight: 500;
  line-height: 44px;
}

.slider{
  overflow: hidden;
  overflow-x: scroll;
}

.slider::-webkit-scrollbar{
  display: none;
}

.cardsContainer{
  padding: var(--spacing_y_md) var(--spacing_x);
}

.slider_card{
  min-width: 150px;
}